<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MFiles.VAF.Configuration" publicKeyToken="fa007b370d17fe5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.8.10524.1" newVersion="21.8.10524.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>